{{ define "content" }}
  <section class="container page">
    <article>
      <p>
        Hi, I'm Adam. I'm a software engineer focused on data platforms and based in <a href="https://en.wikipedia.org/wiki/Alexandria,_Virginia">Alexandria, VA</a>. I mainly develop in Go and Python, but I'm a firm believer in using the right tool for the job, lately that's meant diving deep into Rust for high-performance tooling. I'm particularly interested in solving data problems at scale, and I'm constantly searching for ways to improve myself and my skillset. Check out some of my work and the projects I'm interested in on <a href="https://github.com/ajbosco">GitHub</a>.
      </p>
      <p>My non-tech hobbies include:</p>
      <ul>
        <li>Visiting every used bookstore (Follow me on <a href="https://app.thestorygraph.com/profile/ajbosco">StoryGraph</a>)</li>
        <li>Working out in my home gym</li>
        <li>Mastering the 500 different coffee brewers I've acquired</li>
        <li>Crafting cocktails with my personal cocktail recommendation app</li>
        <li><a href="http://www.tottenhamhotspur.com/">Tottenham Hotspur</a> (COYS!)</li>
        <li>My three cats; Mac, Cheese, and Itzy</li>
      </ul>
    </article>
  </section>
{{ end }}
